In [3]:
import pandas as pd

def load_data():
    df = pd.read_parquet("data/analytical_layer/tecnoStore_modelo_estrella.parquet", engine="fastparquet")
    return df

df = load_data()
df.head(3)

,transaction_id,fecha,año,mes,cantidad,precio_unitario_ars_nominal,monto_venta_ars_nominal,monto_venta_ars_real_2018,es_evento_x,anio_origen,...,subcategoria,precio_base_ars_2018,nombre_cliente,email_cliente,ciudad_cliente,segmento_base,Canal_Venta,nombre_sucursal,direccion_sucursal,Provincia
0,1,2018-01-01,2018,1,3,7944.48,23833.45,23833.45,0,2018,...,Computo,8000.0,Tomàs Benjamin Campos Muñoz,uflores@example.com,Paraná,Premium,Sucursal Fisica,Sucursal 2,"Av. Santa Rosa N° 9560 Torre 2 Dto. 1, Viedma ...",Buenos Aires
1,2,2018-01-01,2018,1,2,3984.98,7969.96,7969.96,0,2018,...,Climatizacion,4000.0,Benjamin Alejandro Thiago Daniel Martinez,ianmansilla@example.com,San Luis,Frecuente,Sucursal Fisica,Sucursal 15,"Av. Posadas N° 435, Viedma 8500, Río Negro",Río Negro
2,3,2018-01-01,2018,1,1,19582.89,19582.89,19582.89,0,2018,...,TV & Entretenimiento,20000.0,Sebastian Chavez Sosa,alfonsina48@example.org,La Rioja,Frecuente,Sucursal Fisica,Sucursal 7,"Avenida 1 N° 85, Mendoza 5500, Mendoza",Chaco

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1211170 entries, 0 to 1211169
Data columns (total 28 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   transaction_id               1211170 non-null  int64
 1   fecha                        1211170 non-null  datetime64[ns]
 2   año                          1211170 non-null  int64
 3   mes                          1211170 non-null  int64
 4   cantidad                     1211170 non-null  int64
 5   precio_unitario_ars_nominal  1211170 non-null  float64
 6   monto_venta_ars_nominal      1211170 non-null  float64
 7   monto_venta_ars_real_2018    1211170 non-null  float64
 8   es_evento_x                  1211170 non-null  int64
 9   anio_origen                  1211170 non-null  int64
 10  dia                          1211170 non-null  int64
 11  nombre_mes                   1211170 non-null  object
 12  nombre_dia_semana            1211170 non-null  object
 13  trimestre                    1211170 non-null  int64
 14  semana_del_año               1211170 non-null  int64
 15  es_evento_y                  1211170 non-null  int64
 16  nombre_producto              1211170 non-null  object
 17  categoria                    1211170 non-null  object
 18  subcategoria                 1211170 non-null  object
 19  precio_base_ars_2018         1211170 non-null  float32
 20  nombre_cliente               1211170 non-null  object
 21  email_cliente                1211170 non-null  object
 22  ciudad_cliente               1211170 non-null  object
 23  segmento_base                1211170 non-null  object
 24  Canal_Venta                  1211170 non-null  object
 25  nombre_sucursal              1211170 non-null  object
 26  direccion_sucursal           1211170 non-null  object
 27  Provincia                    1211170 non-null  object
dtypes: datetime64[ns](1), float32(1), float64(3), int64(10), object(13)
memory usage: 254.1+ MB

In [5]:
print(df["Canal_Venta"].unique())

['Sucursal Fisica' 'Online']

In [7]:
print(df["Provincia"].unique())

['Buenos Aires' 'Río Negro' 'Chaco' 'Córdoba' 'Santa Fe' 'Salta' 'N/A'
 'Santa Cruz' 'Mendoza' 'Misiones']

In [5]:
df_filtrado = df
ventas_nominal = df_filtrado['monto_venta_ars_nominal'].sum()
ventas_online = df_filtrado.loc[df_filtrado["Canal_Venta"] == "Online", "monto_venta_ars_nominal"].sum()
#ventas_total = df_filtrado["ventas"].sum()
participacion_online = (ventas_online / ventas_nominal) * 100
print("ventas totales: ", ventas_nominal)
print("ventas online:  ", ventas_online)
print("participacion:  ", participacion_online)

ventas totales:  349985783409.55994
ventas online:   251826009862.64
participacion:   71.95321118742372

In [6]:
import pandas as pd

# Leer la dimensión clientes
dim_clientes = pd.read_parquet("data/processed/dim_clientes.parquet", engine="fastparquet")

# Mostrar primeras filas para revisar estructura
display(dim_clientes.head())

# Listar todas las ciudades únicas
ciudades_unicas = dim_clientes["ciudad_cliente"].unique()
print(f"Cantidad de ciudades únicas: {len(ciudades_unicas)}")
print(ciudades_unicas)

,cliente_id,nombre_cliente,email_cliente,ciudad_cliente,segmento_base
0,1,Mateo Muñoz,qgutierrez@example.net,San Salvador de Jujuy,Frecuente
1,2,Maia Martinez Peralta,emma59@example.net,San Luis,Nuevo
2,3,Valentin Rios,ojedavalentina@example.com,Merlo,Frecuente
3,4,Joaquin Vera,juan-ignacio77@example.net,Neuquén,Ocasional
4,5,Dr(a). Juan Ignacio Gonzalez,nrodriguez@example.org,San Ferando del Valle de Catamarca,Frecuente

Cantidad de ciudades únicas: 30
['San Salvador de Jujuy' 'San Luis' 'Merlo' 'Neuquén'
 'San Ferando del Valle de Catamarca' 'Salta' 'Viedma' 'Paraná' 'La Plata'
 'Ushuaia' 'La Rioja' 'San Miguel de Tucumán' 'Río Gallegos' 'Rawson'
 'Santiago del Estero' 'Posadas' 'Santa Rosa' 'San Juan' 'Bahía Blanca'
 'Chilecito' 'Mar del Plata' 'Mendoza' 'Resistencia' 'Constitución'
 'Formosa' 'Corrientes' 'Córdoba' 'Santa Fe' 'Comodoro Rivadavia'
 'Rosario']