# <img src="../assets/favicon.png" alt="Logo" width="50"/> **CHardy Tecno Store**

---

# 1. Extracción tabla fechas.csv

In [1]:
import pandas as pd
from pathlib import Path

# Ruta al archivo Parquet
ruta_archivo = Path("data/raw/fecha.csv")

try:
    if not ruta_archivo.exists():
        raise FileNotFoundError(f"Archivo no encontrado: {ruta_archivo.resolve()}")
    
    df = pd.read_csv(ruta_archivo)

    print(" Extracción correcta")
    print(f" Registros cargados: {len(df)}")
    print(f" Columnas: {len(df.columns)}")

except FileNotFoundError as e:
    print(f"❌ Error: {e}")
except Exception as e:
    print(f"⚠️ Error inesperado: {e}")

 Extracción correcta
 Registros cargados: 2557
 Columnas: 9

# 2. Chequeo de la tabla.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2557 entries, 0 to 2556
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fecha              2557 non-null   datetime64[ns]
 1   año                2557 non-null   int64
 2   mes                2557 non-null   int64
 3   dia                2557 non-null   int64
 4   nombre_mes         2557 non-null   object
 5   nombre_dia_semana  2557 non-null   object
 6   trimestre          2557 non-null   int64
 7   semana_del_año     2557 non-null   int64
 8   es_evento          2557 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 179.9+ KB

In [4]:
df['fecha'] = pd.to_datetime(df['fecha'])

In [5]:
df.head()

,fecha,año,mes,dia,nombre_mes,nombre_dia_semana,trimestre,semana_del_año,es_evento
0,2018-01-01,2018,1,1,January,Monday,1,1,0
1,2018-01-02,2018,1,2,January,Tuesday,1,1,0
2,2018-01-03,2018,1,3,January,Wednesday,1,1,0
3,2018-01-04,2018,1,4,January,Thursday,1,1,0
4,2018-01-05,2018,1,5,January,Friday,1,1,0

# 3. Carga

In [8]:
import os

filename = "data/processed/dim_calendario.parquet"

try:
    df.to_parquet(filename, engine="fastparquet")
    if os.path.exists(filename):
        print(f"✔️ Dataset guardado con éxito en: {filename}")
    else:
        print("⚠️ No se encontró el archivo después de guardar.")
except Exception as e:
    print(f"❌ Error al guardar el dataset: {e}")

✔️ Dataset guardado con éxito en: data/processed/dim_calendario.parquet